$moyang: #0C182F;
$tua:#14233F;
$dewasa: #1B2C4D;
$remaja: #233458;
$anak: #7A8599;
$balita: #D5DBE0;
$embrio: #FFFFFF;

$accent: #1b262c;
$primary: #0f4c75;
$secondary: #3282b8;
$base: #bbe1fa;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $dewasa;
  text-decoration: none;
}

a:hover {
  color: $anak;
}

.feed-container {
  background-color: $dewasa;
  .feed {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    .card {
      margin-top:15px;
      margin-bottom:15px;
    }
  }
}

.dashboard {
  display: flex;
  min-height: 100vh;
  .sidebar {
    width: 160px;
    background-color: $tua;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    li {
      height: 100px;
      position: relative;
      i {
        display: block;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:25px;
        color: $balita;
      }
      span {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Oswald';
        font-size: small;
        color: $balita;
      }
    }
    li:hover {
      background-color: $dewasa;
      i, span {color:$embrio}
    }
  }
  .content {
    width: 100%;
    background-color: $balita;
  }
}