$moyang: #0C182F;
$tua:#14233F;
$dewasa: #1B2C4D;
$remaja: #233458;
$anak: #7A8599;
$balita: #D5DBE0;
$embrio: #FFFFFF;

$accent: #1b262c;
$primary: #0f4c75;
$secondary: #3282b8;
$base: #bbe1fa;

* {
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.nopadding {
  padding-right: 0 !important;
  margin: 0 !important;
}

a {
  color: $moyang;
  text-decoration: none;
}

a:hover {
  color: $anak;
}

.graph {
  margin-top: 15px;
  background: $embrio;
  border-radius: 3px;
  height: 392px;
}

.score {
  margin-top: 15px;
  height: 120.5px;
  color: $embrio;
  h2 {
    display: inline-block;
  }
}

.avg-response {
  background: $accent;
}
.sum-positive {
  background: $primary;
}
.sum-negative {
  background: $secondary;
}

.feed {
  position: absolute;
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
  background-color: $dewasa;
  .card {
    margin-bottom:15px;
  }
}

.dashboard {
  display: flex;
  min-height: 100vh;
  .sidebar {
    width: 70px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    background-color: $tua;
    ul {
      position: fixed;
      left: 12; /*ngatur jarak kiri ui fixed*/
      li {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 30px;
        i {
          font-size:24px;
          color: $balita;
          b {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 12px;
            margin-left: 8px;
            display: none;
          }
        }
        i:hover {
          color: $embrio;
        }
      }
    }
    img { margin-top: 30px; }
    .logo { display: block; }
    .logo-expand { display: none; }
}
  .sidebar:hover {
    width: 160px;
    img { animation: fadein 0.5s; }
    .logo { display: none; }
    .logo-expand { display: block; }
    ul {
      left: 19; /*ngatur jarak kiri hover ui fixed*/
      li {
        i {
          animation: fadein 0.5s;
          b {
            display: inline;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    background-color: $balita;
  }
}

// @media only screen and (max-width: 1000px) {
  
// }