$accent: #1b262c;
$accentlite: #273740;
$primary: #0f4c75;
$secondary: #3282b8;
$base: #d5dbe0;
$grey: #7A8599;
$white: #FFFFFF;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  color: $grey;
}

.active {
  font-weight: bold;
}

.login-page, .login-button {
  background-color: #1b262c;
  color: #FFFFFF;
  .ithb {
    margin-top: 150px;
    margin-bottom: 15px;
  }
  .watermark {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
  }
  .card {margin-bottom: 0;}
}

.summary {
  color: $white;
  text-align: center;
  b { font-size: 3em; }
  .positive {
    padding-top: 21px;
    background-color: $primary;
  }
  .negative {
    padding-top: 21px;
    background-color: $secondary;
  }
}

.feed-container {
  background-color: $accent;
  .feed {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    .card {
      margin-top:15px;
      margin-bottom:15px;
    }
  }
}

.dashboard {
  display: flex;
  min-height: 100vh;
  .sidebar {
    width: 160px;
    background-color: $accent;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    li {
      height: 100px;
      position: relative;
      i {
        display: block;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:25px;
        color: $base;
      }
      span {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Oswald';
        font-size: small;
        color: $base;
      }
    }
    li:hover {
      background-color: $accentlite;
      i, span { color: $white }
    }
  }
  .content {
    width: 100%;
    background-color: $base;
  }
}